@import 'cropper.css'
@import 'helpers'
@import 'normalize'

@import 'app/variables'
@import 'app/grid'
@import 'app/buttons'
@import 'app/index'
@import 'app/modal'
@import 'app/panel'
@import 'app/forms'
@import 'app/alerts'
@import 'app/wizard'
@import 'app/collapses'
@import 'app/tables'
@import 'app/progress-bar'

@import 'views/dashboard'
@import 'views/employee'
@import 'views/employee-list'

