button()
    display inline-block
    font-size MEDIUM
    color DARKGRAY
    font-weight 600
    border 1px solid DARKGRAY
    padding (GRID_GAP / 2 - 1) GRID_GAP
    background WHITE
    border-radius 20px
    text-decoration none
    text-align center
    outline none
    transition(all 400ms)
    &:hover
        background DARKGRAY
        color WHITE

button-style($fill, $text)
  background $fill
  color $text
  border-color $fill

  &:hover
    background darken($fill, 15%)


.button, .btn
  button()

  + .button, + .btn
    margin-left 10px

  &.btn-primary, &.button-primary
    button-style(#79A944, #fff)
