.table
  display table

  &.center
    margin auto

  .table-head
    display: table-header-group
  .table-body
    display table-row-group

  .table-row
    display: table-row

  .table-cell
    display table-cell
    vertical-align middle
    padding 0 10px 4px

    .table-cell
      padding 0 5px