// Grid setup
GRID_WIDTH      = 960px
GRID_GAP        = 20px
GRID_COLUMNS    = 12, 16

// App colors
PRIMARY         = #3AD5B1
WHITE           = #ffffff
LIGHT           = #f0f0f0
GRAY            = #eaeaea
LIGHTGRAY       = #d7d7d7
DARKGRAY        = #4b4b4b
BLACK           = #000000

// App text
SMALL           = 12px
MEDIUM          = 14px
BIG             = 16px
BIGGER          = 24px
BIGGEST         = 34px
FONT            = 'Open Sans', 'Helvetica Neue', sans-serif