<html>
    <head>
        <meta charset='utf8' />
        <meta name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1" />
    </head>
    <body>
        <h1>Hello! You've requested reset password.<h1>
        <p>Please confirm it by clicking <a href="http://<%= domain %>/admin/reset_password/<%= reset_token %>">this link</a>.</p>
        <p>Reset password by this link will be available for 1 hour<p>
    </body>
</html>
