<html>
    <head>
        <meta charset='utf8' />
        <meta name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1" />
    </head>
    <body>
        <h1>Hello! You've requested new password.<h1>
        <p>Your new password is <b><%= password %></b></p>
    </body>
</html>
